.form {
    width: 400px;
    margin: 20px auto;
}

.edit {
    cursor: pointer;
}

.edit:hover {
    color: rgb(75, 75, 202);
}

.assignee-select, .labels-select {
    width: 180px
}

/* .labels-select {
    width: 180px
} */

.priority-select {
    width: 130px
}

span {
    margin-right: 3px;
}

span>span{
    border-radius: 0.3em !important;
}

strong {
    font-size: .9em;
}