.form {
    width: 400px;
    margin: 20px auto;
}

.summary {
    cursor: pointer;
}

span {
    margin-right: 3px;
}

span>span{
    border-radius: 0.3em !important;
}

strong {
    font-size: .9em;
}