
.App {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  margin-top: -4px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

.trash-icon {
  color: rgb(255, 100, 100);
  cursor: pointer
}

.trash-icon:hover {
  color: rgb(202, 0, 0)
}